:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #404bbf;
  --whitecolor: white;
  --slatecolor: #434455;
  --button-filter: #f5f4fa;
  --primary-text-color: #757575;
  --cloud: #f4f4fd;
}

body {
  font-family: "Roboto", san serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slatecolor);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  width: 1158px;
  margin-right: auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  display: inline-flex;
}
.contacts-menu {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  display: inline-flex;
}

.list {
  list-style: none;
}
.logo-link {
  text-decoration: none;
  font-size: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.logo {
  color: var(--iriscolor);
}
.studio {
  color: var(--navyblue);
}
.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.03em;
  font-size: 16px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
}
.button.primary {
  border-radius: 4px;
  background: var(--iriscolor, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--whitecolor, #fff);
  font-weight: 500;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 16px 32px;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--iriscolor);
}
.section .no-top-padding {
  padding-top: 0;
}
.what-we-do {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.team {
  display: flex;
  gap: 24px;
  text-align: center;
}

.card-content h3 {
  margin-bottom: 8px;
}

.card-content {
  padding: 32px 0;
}
.team .item {
  border-radius: 0px 0px 4px 4px;
  background: var(--whitecolor, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.button.filter {
  background-color: var(--cloud);
  color: var(--iriscolor);
  font-weight: 500;
  line-height: 1.62;
  padding: 12px 24px;
}
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--cloud);
}
.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}
.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
}
.benefits .description {
  color: var(--slatecolor);
  line-height: 1.17;
  font-size: 16px;
  font-weight: 400;
}
.nav-menu .page {
  color: var(--navyblue);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iriscolor);
}
.contacts-menu .item {
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.bg-hero {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--navyblue);
  padding: 188px 0;
}
.hero-title {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.04em;
}
.bg-team {
  background-color: var(--cloud);
}
.team .name {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
}
.team .position {
  color: var(--slatecolor);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.bg-footer {
  background-color: var(--navyblue);
}
.page-footer {
  padding: 102px;
}
.footer-description {
  color: var(--cloud);
  padding-top: 17.5px;
}
.project .name {
  color: var(--navcolor);
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.project .type {
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.87;
}
.studio-footer {
  color: var(--cloud);
}

.project {
  text-decoration: none;
}

.filters {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.substrate {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}
.logo-footer {
  color: var(--iriscolor);
}
.project-card {
  margin-bottom: 48px;
}
