:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #404bbf;
  --whitecolor: #ffffff;
  --slatecolor: #434455;
  --cornflowercolor: #e7e9fc;
  --cloudcolor: #f4f4fd;
  --greencolor: #31d0aa;
  --lightslatecolor: #8e8f99;
  --navybluemodalcolor: #2e2f42;
  --greycolor: #2e2f42;
  --dairycolor: #fcfcfc;
}
body {
  font-family: "Roboto", san serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slatecolor);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.logo-link {
  text-decoration: none;
  font-size: 0;
  font-family: "Raleway" sans-serif;
  font-weight: 800;
}
.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.logo {
  color: var(--iriscolor);
}
.studio {
  color: var(--navyblue);
}
.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.03em;
  font-size: 16px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
}
.button.primary {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
}
.button.filter {
  background-color: var(--cloudcolor);
  color: var(--iriscolor);
font-weight: 500;
line-height: 1.62;
}
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--cloudcolor);
}
.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}
.benefits .title {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
}
.benefits .description {
  color: var(--slatecolor);
  line-height: 1.17;
  font-size: 16px;
  font-weight: 400;
}
.nav-menu .page {
  color: var(--navyblue);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contact-menu .item.hover,
.contact-menu .item.focus {
  color: var(--iriscolor);
}
.contact-menu .item {
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.bg-hero {
  background-color: var(--navyblue);
}
.hero-title{
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.04em;
}
.bg-team {
  background-color: var(--cloudcolor);
}
.team .name{
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
}
.team .position{
  color: var(--slatecolor);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.page-footer.bg-footer{
  background-color: var(--navyblue);
}
.footer-description {
  color: var(--cloud);
}
.project .name{
color: var(--navcolor);
font-weight: 500;
font-size: 20px;
line-height: 2;
letter-spacing: 0.04em;
}
.project .type{
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.87;
}
.studio-footer {
  color: var(--cloudcolor);
}